<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paulz.carinsurance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- Required -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".HApplication"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/launch_fullscreen_trans">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            ></activity>

        <activity
            android:name=".ui.GuideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <activity
            android:name=".ui.UserLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.RecordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.AddCustomerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.MyBounsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".ui.MyAchievementActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".ui.AccountActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
             />
        <activity
            android:name=".ui.NameVerifyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.UserInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
             />
        <activity
            android:name=".ui.BankCardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
             />

        <activity
            android:name=".ui.SafeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".ui.ModifyPhoneActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.ModifyPhoneStep2Activity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.ModifyLoginPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.ModifyWithdrawPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.EditAddressActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.AddressListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.AddBankCardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.SelectCarNumberActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.AddCarInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />

        <activity
            android:name=".ui.SelectCarModelActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.SearchCarModelActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.InsureInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.SelectInsureCompanyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.OrderInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.CustomerInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.CarInsureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.WithdrawHistoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.WithdrawApplyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.BounsRecordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.SelectCityActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.SelectAreaActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.InsureDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.InsureDetailActivity2"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.InsureCompanyPriceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".ui.AddressActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.UnderwritingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.CommonWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.paulz.carinsurance.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


    </application>

</manifest>